{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Recipe{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="editor-form" enctype="multipart/form-data" method="post">

    <!-- Metadata section -->
    <div class="editor-item">
      <label for="name">Name</label>
      <input name="name" id="name" value="{{ recipe.name }}" required>
    </div>
    <div class="editor-item">
      <label for="food-type">Category</label>
      <select name="food_type" id="food-type">
        {% for id, food_type in food_types.items() %}
          {% if id == recipe.type_id %}
            <option value="{{ id }}" selected="selected">{{ food_type }}</option>
          {% else %}
            <option value="{{ id }}">{{ food_type }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="editor-item">
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="2">{{ recipe.description }}</textarea>
    </div>

    <!-- Ingredients section -->
    <div class="editor-item">
      <label for="ingredients">Ingredients</label>
      <textarea name="ingredients" id="ingredients" rows="5">{{ recipe.ingredients }}</textarea>
    </div>

    <!-- Directions/Steps section -->
    <div class="editor-item">
      <label for="instructions">Instructions</label>
      <textarea name="instructions" id="instructions" rows="10">{{ recipe.instructions }}</textarea>
    </div>
    <!-- Image section -->
    <div class="editor-item">
      <label for="recipe-img-file">Recipe Image</label>
      <input name="recipe_img_file" type="file" id="recipe-img-file" accept="image/*">
    </div>

    <div class="editor-item submit-button">
      <input type="submit" value="Save Recipe">
    </div>

  </form>
{% endblock %}
