{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ recipe.name }}{% endblock %}</h1>
  {% if g.user %}
    <ul>
      <li><form action="{{ url_for('recipes.edit', recipe_id=recipe.id) }}" method="get">
          <input class="danger" type="submit" value="Edit">
          </form></li>
      <li><form action="{{ url_for('recipes.delete', recipe_id=recipe.id) }}" method="post">
          <input class="danger" type="submit" value="Delete"
              onclick="return confirm('Are you sure?');">
          </form></li>
  </form>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="full_recipe">
      <div>
        <p class="recipe_short_desc">{{ recipe.description }}</p>
        <p class="recipe_ingred">recipe ingredients list</p>
        <p class="recipe_steps">recipe step list</p>
      </div>
    </article>
{% endblock %}
