{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recipes{% endblock %}</h1>
  <div class="edit-controls">
    {% if g.user %}
      <form action="{{ url_for('recipes.create') }}" method="get">
        <input type="submit" value="New Recipe">
      </form>
    {% else %}
      <p style="visibility:hidden">space</p>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% for recipe in recipes %}
    <section class="recipe-entry">
      <h2><a href="{{ url_for('recipes.full_recipe', recipe_id=recipe.id) }}">{{ recipe.name }}</a></h2>
      <p class="recipe-description-short">{{ recipe.description }}</p>
    </section>
  {% endfor %}
{% endblock %}
