{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recipes{% endblock %}</h1>
  <ul>
    {% if g.user %}
      <li><form action="{{ url_for('recipes.create') }}" method="get">
          <input type="submit" value="New Recipe">
          </form></li>
    {% else %}
      <li style="visibility:hidden">space</li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  {% for recipe in recipes %}
    <div class="recipe_entry">
      <h2><a href="{{ url_for('recipes.full_recipe', recipe_id=recipe.id) }}">{{ recipe.name }}</a></h2>
      <p class="recipe_short_desc">{{ recipe.description }}</p>
    </div>
  {% endfor %}
{% endblock %}
