:root {
  --light_cyan: #d6fff6;
  --darker_cyan: #d0efe6;
  --russian_violet: #231651;
  --med_turquoise: #4dccbd;
  --spanish_blue: #2374ab;
  --light_coral: #ff8484;
}

html {
  font-family: sans-serif;
  background: var(--russian_violet);
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  color: var(--russian_violet);
  background: var(--light_cyan);
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: var(--med_turquoise);
  margin: 1rem 0;
}

a {
  color: var(--spanish_blue);
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: var(--light_coral);
  color: var(--russian_violet);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  color: var(--russian_violet);
  text-decoration: none;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

header {
    display: flex;
    margin-top: 0.5rem;
}

header * {
  margin: 0;
}

header h1 {
    flex-grow: 2;
    margin: 0.5rem;
}

.edit-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-controls * {
    flex: 1;
    margin-left: 0.5em;
    font-size: 0.9em;
}

.editor-form > * {
    padding: 0.25rem 0.75rem;
}

.editor-item > input,label {
    display: block;
}

.editor-item > input {
    font-family: monospace;
    font-size: 1.2em;
    width: 30%;
}

.editor-item > textarea {
    height: auto;
    width: 50%;
    overflow: auto;
    font-size: 1.2em;
}

.submit-button {
    margin-top: 1em;
}

.recipe-entry > * {
    margin: 0;
}

.recipe-entry {
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
}

.recipe-entry a {
  color: var(--med_turquoise);
  text-decoration: none;
}

.recipe-entry:hover {
    background: var(--darker_cyan);
}

.recipe-content {
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-bottom: 0.2em;
}

.recipe-ingredients {
    flex: 1;
}

.recipe-instructions {
    flex: 2;
}

